{% extends 'base.html' %}

{%block titulo%}Dashboard de {{ user}} | {%endblock%}

<h1 class="mt-3 mb-3"> Olá {{% user.first_name %}} {{% user.last_name %}}</h1>

{% include 'parciais_messages.html' %}
<p>
    Nome: {{user}}
</p>

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary"Entrar></button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}